<div class="footer">
    <div class="footer-inner">
        <div class="row ">
            <div class="col-md-12 col-sm-12">
                2016 © Softtrends LLC
            </div>
            <div class="col-md-12 col-sm-12">
                @*<a href="http://www.mediajackers.com/">Digital Marketing Partner - MediaJackers</a>*@
            </div>
        </div>
    </div>
    <div class="footer-tools">
        <span class="go-top"><i class="icon-angle-up"></i></span>
    </div>
</div>
